.message-container {
  margin: 15px;
  display: flex;
}

.user-photo img {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}

.text-message {
  display: flex;
  flex-direction: column;
}
