.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px;
}

.column-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

mat-expansion-panel {
  margin-top: 15px;
}
