<div class="settings-container">
<!------------  Workplace label settings ------------>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workplace label settings
      </mat-panel-title>
      <div>
        <app-color-label>
        </app-color-label>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!------------  Workplace users settings ------------>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workplace users settings
      </mat-panel-title>
      <div>
        <app-user-label>
        </app-user-label>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <!------------  Workplace notifications settings ------------>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workplace notifications settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="column-container">
      <mat-checkbox>receipt of the message</mat-checkbox>
      <mat-checkbox>added to element</mat-checkbox>
      <mat-checkbox>due date</mat-checkbox>
      <mat-checkbox>removed from element</mat-checkbox>
    </div>
  </mat-expansion-panel>
  <!------------  Workplace rights settings ------------>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workplace rights settings
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
