<div class="table-container">
  <div class="table-buttons">
    <input
      type="file" (change)="chooseFile($event.target.files[0])">
    <button mat-raised-button
            color="primary"
            [disabled]="file === null"
            (click)="uploadFile()">
      <mat-icon>add</mat-icon>
      Upload File
    </button>
  </div>
  <div class="table-titles">
    <span>File name</span>
    <span>File owner</span>
    <span>File size</span>
  </div>
  <hr>
  <div class="table-content">
    <div
      *ngFor="let file of files;"
      class="file-container">
      <app-file
        class="file-content">
      </app-file>
<!--      <mat-icon>file_download</mat-icon>
      <mat-icon>delete</mat-icon>-->
    </div>
  </div>
</div>


