.table {
  margin: 15px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table-buttons {
  margin: 15px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
