.workplace-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  padding: 40px;
}

.addBtn {
  position: fixed;
  right: 100px;
  bottom: 90px;
  z-index: 1;
}

