.mat-icon {
  padding: 0 14px;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}

.icon {
  margin-right: 15px;
}

::ng-deep .my-menu {
  width: 190px;
}

.isLoading {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
