.elements-container {
  margin: 15px;
  padding: 10px 30px 10px;
  border-radius: 10px;
  height: 84vh;
  background-image: url("https://bstatic.com/xdata/images/xphoto/1182x887/82877075.jpg?k=db9e00135b7b8f038aad88a7676235667ca249a5eed997a499677812fa332833&o=?size=S");
  overflow-y: scroll;
}
