.container {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  width: 230px;
  cursor: pointer;
}

.images {
  margin-top: 10px;
  height: 55px;
  display: flex;
  justify-content: start;
  overflow-x: scroll;
}

.title {
  font-size: 24px;
  font-weight: 450;
}

.img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid black;
}

.text {
  font-size: 24px;
}
