.registration-container {
  width: 350px;
}

.registration-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title {
  margin: 15px 15px 35px;
  font-size: 36px;
}

.successful_message {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

mat-icon {
  margin: auto;
  padding-top: 10px;
}

mat-spinner, p {
  margin: auto;
}
