<div class="add-user-container">
  <h1>Add workplace user</h1>
  <mat-form-field appearance="outline">
    <mat-label>Find new user</mat-label>
    <input type="text"
           placeholder="Find User"
           matInput
           ngModel
           #user="ngModel"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of foundUsers">
        <app-user-label [user]="user"></app-user-label>
        <span>{{ user.userName + '' + user.userSurname }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          [disabled]="user.invalid"
          (click)="create(user.value)">
    Add
  </button>
</div>
