.chat-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.messages {
  padding: 10px;
  overflow-y: scroll;
  scroll-snap-type: y;
  height: 80vh;
  width: 100%;
}

.massage-input {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

mat-icon {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
