.notification-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.notification-container:hover {
  border: 1px black solid;
  border-radius: 10px;
}

.notification-description {
  width: 100%;
}

.notification-creation-time {
  font-size: 11px;
}

.notification-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
