.dialog-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  max-height: 500px;
}

.dialog-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.aside-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 70%;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

mat-form-field {
  width: 100%;
  margin: 10px;
}
