<div class="dialog-container">
  <p class="title">Create Workplace</p>
  <form
    #workplaceForm="ngForm"
    (ngSubmit)="createWorkplace()"
    class="dialog-content"
    ngForm>
    <mat-form-field>
      <mat-label>Workplace name</mat-label>
      <input
        #name="ngModel"
        matInput
        name="name"
        ngModel
        required
        type="text">
      <mat-error *ngIf="name.invalid">"Please enter value"</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Workplace description</mat-label>
      <textarea
        #description="ngModel"
        matInput
        name="description"
        ngModel
        required
        type="text">
        </textarea>
      <mat-error *ngIf="description.invalid">"Please enter value"</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Workplace element color</mat-label>
      <input
        #elementColor="ngModel"
        matInput
        name="elementColor"
        ngModel
        required
        type="color">
      <mat-error *ngIf="elementColor.invalid">"Please enter value"</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Workplace background color</mat-label>
      <input
        #backgroundColor="ngModel"
        matInput
        name="backgroundColor"
        ngModel
        required
        type="color">
      <mat-error *ngIf="backgroundColor.invalid">"Please enter value"</mat-error>
    </mat-form-field>
      <input
        #backgroundImage="ngModel"
        name="backgroundImage"
        ngModel
        required
        type="file">
    <button [disabled]="workplaceForm.invalid"
            color="primary"
            mat-raised-button
            type="submit">
      Create
    </button>
  </form>
</div>
