<mat-card class="centered">
  <mat-card-title class="title">Create Workplace</mat-card-title>
  <mat-card-content>
    <form ngForm #workplaceForm="ngForm" (ngSubmit)="createWorkplace()">
      <mat-form-field class="max-width">
        <mat-label>Workplace name</mat-label>
        <input
          matInput
          ngModel
          type="text"
          name="name"
          required
          #name="ngModel">
        <mat-error *ngIf="name.invalid">"Please enter value"</mat-error>
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Workplace description</mat-label>
        <textarea
          matInput
          ngModel
          type="text"
          name="description"
          required
          #description="ngModel">
        </textarea>
        <mat-error *ngIf="description.invalid">"Please enter value"</mat-error>
      </mat-form-field>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="workplaceForm.invalid">
          Create</button>
    </form>
  </mat-card-content>
</mat-card>
