.task-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.task-content {
  display: flex;
  width: 100%;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-content {
  display: flex;
}

.icons-content {
  display: flex;
  align-items: center;
}

mat-checkbox {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}
