<div class="task-container">
  <div class="task-content">
    <mat-checkbox
      color="primary"
      [(ngModel)]="task.isCompleted">
    </mat-checkbox>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        rows="4"
        cdkTextareaAutosize="false"
        matInput
        ngModel
        type="text"
        name="name"
        required
        [ngModel]="task.description"
        #description="ngModel">
      </textarea>
      <mat-error *ngIf="description.invalid">"Please enter value"</mat-error>
    </mat-form-field>
  </div>
  <div class="bottom-content">
    <div class="user-content">
      <app-user-label
        *ngFor="let user of users"
        [user]="user"
      ></app-user-label>
    </div>
    <div class="free-space">
    </div>
    <div class="icons-content">
      <mat-icon [mat-menu-trigger-for]="userList">person_add</mat-icon>
      <mat-icon (click)="removeTask()">delete</mat-icon>
    </div>
    <mat-menu #userList="matMenu">
      <ul>
        <li
          (click)="addUser(user)"
          *ngFor="let user of users$ | async">
          <app-user-label
            [user]="user"
          ></app-user-label>
          <span>{{user.username + ' ' + user.usersurname}}</span>
        </li>
      </ul>
    </mat-menu>
  </div>
</div>
