.task-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-content {
  display: flex;
  width: 100%;
}

.bottom-content {
  display: flex;
  width: 100%;
}

.user-content {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  width: 50%;
}

.icons-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.labels-content {
  display: flex;
  overflow-x: auto;
}

.free-space {
  width: 30%;
}

mat-checkbox {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}
