.background {
  display: inline-block;
  border-radius: 15px;
  background-color: orange;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
