<div>
  <div class="split left"></div>
  <div class="split right">
    <div class="centered">
      <mat-card class="card">
        <mat-card-title class="title">Sign In</mat-card-title>
        <mat-card-content>
          <form
            #signUpForm="ngForm"
            (ngSubmit)="login(signUpForm)">
            <mat-form-field>
              <mat-label class="mat-label">Email</mat-label>
              <input
                matInput
                label="Email"
                ngModel
                type="email"
                email
                required
                name="email"
                #email="ngModel"
                autocomplete="username">
              <mat-error *ngIf="email.invalid">"Please enter value"</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label class="mat-label">Password</mat-label>
              <input
                matInput
                label="Password"
                ngModel
                type="password"
                required
                name="password"
                #password="ngModel"
                autocomplete="current-password">
              <mat-error *ngIf="password.invalid">"Please enter value"</mat-error>
            </mat-form-field>
            <button mat-button
                    class="text"
                    type="submit"
                    [disabled]="signUpForm.invalid">Login</button>
          </form>
        </mat-card-content>
        <u (click)="registration()">Sign Up</u>
      </mat-card>
    </div>
  </div>
</div>
