.container {
  width: 500px;
  max-height: 430px;
  overflow-y: scroll;
}

.border {
  border: 1px solid red;
}

.content {
  width: 56%;
  float: left;
  padding: 15px;
}

.aside {
  margin-top: 100px;
  width: 37%;
  float: left;
}

.aside p mat-icon {
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

mat-form-field {
  display: block;
  width: 95%;
}

button {
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
