<div style="width: 100%; height: 100%;">
  <!-- APPLICATION TOOLBAR -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div (click)="navigateToHome(userId)"
           class="link-cursor"
           matTooltip="Home">
        <img src="assets/logo.svg" alt="Online Workplace">
      </div>
      <span class="toolbar-title">Online Workplace</span>
      <span class="example-spacer"></span>
      <ng-container *ngIf="toolbarState$ | async">
        <span class="input-content">
          <input
            matInput
            #searchInput
            placeholder="Sort by name, u: user or # tag"
            [(ngModel)]="input">
          <button
            mat-button
            mat-icon-button
            aria-label="Search"
            (click)="sortElements(searchInput.value)"
            matTooltip="Search">
            <mat-icon>search</mat-icon>
          </button>
          <button
            mat-button
            mat-icon-button
            aria-label="Cancel"
            *ngIf="searchInput.value"
            (click)="removeSort()"
            matTooltip="Cancel search">
            <mat-icon>cancel_outlined</mat-icon>
          </button>
        </span>
      </ng-container>
      <span class="example-spacer"></span>
      <ng-container *ngIf="toolbarState$ | async">
        <mat-icon
          [matMenuTriggerFor]="add"
          matTooltip="Add element">
          add
        </mat-icon>
        <mat-icon
          matTooltip="Storage workplace"
          (click)="navigate('storage')">
          storage
        </mat-icon>
        <mat-icon
          matTooltip="Notifications"
          [matBadgeHidden]="!freshNotifications"
          matBadgeOverlap="true"
          matBadgeSize="small"
          [matBadge]="freshNotifications"
          matBadgeColor="warn"
          [matMenuTriggerFor]="notifications">
          notifications
        </mat-icon>
        <!-- TODO change to only not seen notifications -->
      </ng-container>
      <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- APPLICATION MENU SETTINGS -->
  <mat-menu class="my-menu" #menu="matMenu">
    <p mat-menu-item><img src="">Adam Ivan</p>
    <hr>
    <button mat-menu-item (click)="navigateProfile()">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button mat-menu-item *ngIf="workplaceId" (click)="navigate('settings')">
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-raised-button
            color="primary"
            style="margin-left: 65px; margin-top: 15px"
            (click)="logout()">Log out
    </button>
  </mat-menu>
  <!-- APPLICATION CREATE ELEMENTS MENU -->
  <mat-menu #add class="my-menu">
    <button mat-menu-item (click)="openUserDialog()">
      <mat-icon>add</mat-icon>
      Add User
    </button>
    <button mat-menu-item (click)="openLabelDialog()">
      <mat-icon>add</mat-icon>
      Add Label
    </button>
    <button mat-menu-item (click)="createTaskDialog()">
      <mat-icon>add</mat-icon>
      Add Task
    </button>
    <button mat-menu-item (click)="createDialog('Note')">
      <mat-icon>add</mat-icon>
      Add Note
    </button>
    <button mat-menu-item (click)="createDialog('Thread')">
      <mat-icon>add</mat-icon>
      Add Thread
    </button>
  </mat-menu>
  <!-- APPLICATION NOTIFICATIONS MENU -->
  <mat-menu #notifications class="notification" (click)="removeBadgeNumber()">
    <app-notification *ngFor="let notification of notifications$ | async" [notification]="notification"></app-notification>
  </mat-menu>
  <!-- APPLICATION LOADING SCREEN -->
  <ng-template [ngIf]="(isLoading$ | async)">
    <div class="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <!-- MAIN APPLICATION SCREEN -->
  <div [ngClass]="{ 'content' : isLoading$ | async }">
    <router-outlet></router-outlet>
  </div>
</div>

