<div class="container" [ngStyle]="{'background-color': element.backGroundColor ? element.backGroundColor : 'white'}">
  <p class="title">{{element.name}}</p>
  <div>
    <app-color-label
      class="labels"
      *ngFor="let image of images"
    ></app-color-label>
  </div>
  <div
    class="clearFloat"
    *ngIf="!task; else taskTemplate">
    <p>{{element.description}}</p>
  </div>
  <ng-template #taskTemplate>
    <p class="text clearFloat"><mat-icon>check_box_outline_blank</mat-icon>{{taskInfo}}</p>
  </ng-template>
  <div class="scrollbar images">
    <img class="img" *ngFor="let image of images" [src]="image">
  </div>
  <div></div>
</div>
