<div class="container">
  <p class="title">{{element.name}}</p>
  <div>
    <app-color-label
      class="labels"
      *ngFor="let label of element.assignedLabels"
      [label]="label"
    ></app-color-label>
  </div>
  <div
    class="clearFloat"
    *ngIf="!task; else taskTemplate">
    <p>{{element.description}}</p>
  </div>
  <ng-template #taskTemplate>
    <p class="text clearFloat"><mat-icon>check_box_outline_blank</mat-icon>{{taskInfo}}</p>
  </ng-template>
  <div class="scrollbar images">
    <app-user-label
      *ngFor="let user of element.assignedUsers"
      [user]="user">
    </app-user-label>
  </div>
  <div></div>
</div>
