<div class="container">
  <form #form="ngForm" (ngSubmit)="handleElement(form)"
        ngForm>
    <div class="content">
      <!-- --------------------------------------- Main Inputs ------------------------------------------------- -->
      <mat-form-field>
        <mat-label>{{type}} name</mat-label>
        <input
          #name="ngModel"
          [ngModel]="element ? element.name : ''"
          matInput
          name="name"
          ngModel
          required
          type="text">
        <mat-error *ngIf="name.invalid">"Please enter value"</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{type}} description</mat-label>
        <textarea
          #description="ngModel"
          [mat-autosize]="true"
          [ngModel]="element ? element.description : ''"
          matInput
          name="description"
          ngModel
          required
          type="text">
          </textarea>
        <mat-error *ngIf="description.invalid">"Please enter value"</mat-error>
      </mat-form-field>
    </div>
    <!-- --------------------------------------- Aside bar icons ------------------------------------------------------>
    <div class="aside">
      <div>
        <p [mat-menu-trigger-for]="userList">
          <mat-icon>person_add</mat-icon>
          Add user
        </p>
        <mat-menu #userList="matMenu" class="pop-up-menu">
          <ul>
            <li
              (click)="addElement(user)"
              *ngFor="let user of users$ | async">
              <app-user-label
                [user]="user"
                class="users-inline"
              ></app-user-label>
              <span class="users-inline">{{user.username + ' ' + user.usersurname}}</span>
            </li>
          </ul>
        </mat-menu>
        <p [mat-menu-trigger-for]="labelList">
          <mat-icon>label</mat-icon>
          Choose Label
        </p>
        <mat-menu #labelList="matMenu" class="pop-up-menu">
          <ul>
            <li
              (click)="addElement(label)"
              *ngFor="let label of labels$ | async">
              <app-color-label
                [label]="label"
                class="element">
              </app-color-label>
            </li>
          </ul>
        </mat-menu>
        <!-- --------------------------------------- Date Input ------------------------------------------------------>
        <ng-template [ngIf]="type === 'Note'">
          <p (click)="datePicker.open()">
            <mat-datepicker
              #datePicker
              touchUi>
            </mat-datepicker>
            <mat-icon>schedule</mat-icon>
            Set Notification
          </p>
          <mat-form-field>
            <mat-label>Due Date</mat-label>
            <input
              [matDatepickerFilter]="notificationDateFilter"
              [matDatepicker]="datePicker"
              [ngModel]="element ? element.dueDate : ''"
              matInput
              name="notificationDate"
              ngModel>
          </mat-form-field>
        </ng-template>
        <p
          (click)="delete()"
          *ngIf="isUpdateState"
          [mat-dialog-close]="i">
          <mat-icon>delete</mat-icon>
          Delete {{type}}
        </p>
      </div>
      <!-- --------------------------------------- Assigned labels and users ------------------------------------------>
      <div class="assigned">
        <div>
          <h3>Assigned labels</h3>
          <div>
            <app-color-label
              (click)="removeElement(label, i)"
              *ngFor="let label of labels; let i = index"
              [label]="label">
            </app-color-label>
          </div>
        </div>
        <div>
          <h3>Assigned user</h3>
          <div>
            <app-user-label
              (click)="removeElement(user, i)"
              *ngFor="let user of users; let i = index"
              [user]="user">
            </app-user-label>
          </div>
        </div>
      </div>
    </div>
    <button
      [disabled]="form.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      {{element ? 'Update' : 'Create'}}
    </button>
  </form>
</div>
