.container {
  width: 700px;
  max-height: 500px;
}

.border {
  border: 1px solid red;
}

.content {
  width: 65%;
  float: left;
  padding: 15px;
}

.aside {
  padding-top: 15px;
  width: 23%;
  float: left;
}

.aside p mat-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.line {
  margin-top: 20px;
}

.line div {
  float: left;
  margin-right: 5%;
  width: 45%;
}

.img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border-radius: 50%;
}

.aside p {
  cursor: pointer;
}

mat-form-field {
  display: block;
  width: 95%;
}

button {
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p input {
  width: 30px;
}

mat-menu {
  display: flex;
  flex-flow: column;
}
