<div class="container">
  <form ngForm #form="ngForm"
        (ngSubmit)="handleElement(form)">
    <div class="content">
      <!-- --------------------------------------- Main Inputs ------------------------------------------------- -->
      <mat-form-field>
        <mat-label>{{type}} name</mat-label>
        <input
          matInput
          ngModel
          type="text"
          name="name"
          required
          #name="ngModel"
          [ngModel]="element ? element.name : ''">
        <mat-error *ngIf="name.invalid">"Please enter value"</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{type}} description</mat-label>
        <textarea
          [mat-autosize]="true"
          matInput
          ngModel
          type="text"
          name="description"
          required
          #description="ngModel"
          [ngModel]="element ? element.description : ''">
          </textarea>
        <mat-error *ngIf="description.invalid">"Please enter value"</mat-error>
      </mat-form-field>
    </div>
    <!-- --------------------------------------- Aside bar icons ------------------------------------------------------>
    <div class="aside">
      <div>
        <p [mat-menu-trigger-for]="userList">
          <mat-icon>person_add</mat-icon>
          Add user
        </p>
        <mat-menu class="pop-up-menu" #userList="matMenu">
          <ul>
            <li
              *ngFor="let user of users$ | async"
              (click)="addElement(user)">
                <app-user-label
                  class="users-inline"
                  [user]="user"
                ></app-user-label>
                <span class="users-inline">{{user.username + ' ' +  user.usersurname}}</span>
            </li>
          </ul>
        </mat-menu>
        <p [mat-menu-trigger-for]="labelList">
          <mat-icon>label</mat-icon>
          Choose Label
        </p>
        <mat-menu class="pop-up-menu" #labelList="matMenu">
          <ul>
            <li
              *ngFor="let label of labels$ | async"
              (click)="addElement(label)">
              <app-color-label
                class="element"
                [label]="label">
              </app-color-label>
            </li>
          </ul>
        </mat-menu>
        <!-- --------------------------------------- Date Input ------------------------------------------------------>
        <p (click)="datePicker.open()">
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-icon>schedule</mat-icon>
          Set Notification
        </p>
        <p
          *ngIf="isUpdateState"
          [mat-dialog-close]="i"
          (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete {{type}}
        </p>
        <mat-form-field>
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            name="notificationDate"
            ngModel>
        </mat-form-field>
      </div>
      <!-- --------------------------------------- Assigned labels and users ------------------------------------------>
      <div class="assigned">
        <div>
          <h3>Assigned labels</h3>
          <div>
            <app-color-label
              *ngFor="let label of labels; let i = index"
              [label]="label"
              (click)="removeElement(label, i)">
            </app-color-label>
          </div>
        </div>
        <div>
          <h3>Assigned user</h3>
          <div>
            <app-user-label
              *ngFor="let user of users; let i = index"
              [user]="user"
              (click)="removeElement(user, i)">
            </app-user-label>
          </div>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      type="submit">
      {{element ? 'Update' : 'Create'}}
    </button>
  </form>
</div>
