<div class="container" [ngStyle]="{'background-color': element ? element.backGroundColor : 'white'}">
  <form ngForm #form="ngForm" (ngSubmit)="createCheckList(form)">
    <mat-form-field>
      <mat-label>Task name</mat-label>
      <input
        matInput
        ngModel
        type="text"
        name="name"
        required
        #name="ngModel">
      <mat-error *ngIf="name.invalid">"Please enter value"</mat-error>
    </mat-form-field>
    <div class="content">
      <app-task
        *ngFor="let task of tasks; index as i"
        [index]="i"
        [task]="task" class="task">
      </app-task>
    </div>
    <div class="aside">
      <p (click)="addTask()"><mat-icon>add</mat-icon>Add task</p>
      <p><mat-icon>palette</mat-icon><input
        matInput
        type="color"
        ngModel
        name="color"
        required></p>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid">Create</button>
  </form>
</div>
